body{
  margin:0;
  font-family:Arial;
  color:white;
  text-align:center;
}

/* VIDEO BACKGROUND */
#bg-video{
  position:fixed;
  right:0;
  bottom:0;
  min-width:100%;
  min-height:100%;
  object-fit:cover;
  z-index:-1;
}

/* PLAYER */
.top-player{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background:rgba(0,0,0,0.6);
  padding:10px;
  display:flex;
  justify-content:center;
  gap:10px;
  z-index:10;
}

/* MENU MUSIQUE */
.music-menu{
  position:fixed;
  top:50px;
  right:20px;
  background:rgba(0,0,0,0.8);
  padding:10px;
  border-radius:10px;
  display:none;
  z-index:20;
}

.music-menu button{
  display:block;
  margin:5px 0;
  width:120px;
}

/* CONTENU */
.content{
  margin-top:120px;
}

/* PROFIL */
.profile img{
  width:200px;
  height:200px;
  border-radius:50%;
  border:4px solid white;
}

/* TEXTE */
.description{
  margin-top:15px;
  font-size:20px;
}

/* BOUTONS */
.buttons{
  margin-top:30px;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:15px;
}

.link-btn{
  display:flex;
  align-items:center;
  gap:10px;
  background:rgba(0,0,0,0.6);
  padding:10px 20px;
  border-radius:10px;
  text-decoration:none;
  color:white;
  width:250px;
}

.link-btn img{
  width:40px;
}
